$color-orange: #ffad3a;
$color-pink: #f474a2;

$color-text: #393e46;
$color-white: #fff;
$color-blue: #2d63d1;
$color-green: #44f2a1;
$color-grey: #6a727f;

$color-dark-1: #282f3a;
$color-dark-2: #252b36;
